@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
#myHeader{
     margin-right:500px;
}
#myText {
    padding-top: 3px;
    float:left;
    text-align: center;
    background-color:#e5e6eb;
    border-left: solid 3px #c3c3c3;
    border-top: solid 3px #c3c3c3;
    border-bottom: solid 3px #c3c3c3;
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
}
#img{
    float:left;
    background-color:#e5e6eb;
    text-align:center;
    padding-top:3px;
    border-top: solid 3px #c3c3c3;
    border-bottom: solid 3px #c3c3c3;
}
#timer{
    float:left;
    background-color:#e5e6eb;
    text-align:center;
    border-right: solid 3px #c3c3c3;
    border-top: solid 3px #c3c3c3;
    border-bottom: solid 3px #c3c3c3;
    padding-top:3px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
}
#panel {
    height:250px;
    width:548px;
    text-align: center;
    background-color:#e5e6eb;
    border: solid 3px #c3c3c3;
    display: none;
    float:left;
    border-radius:10px;
}
#radio{
   float: left;
}
#myCanvas{
    float:left;
}